// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// atom: link
// ===============================================
@mixin atom-link($theme: null) {
  @layer syx.atoms {
  .atom-link {
    @include position(relative);


    // &--primary
    &--primary {
      @include border(all, 0, null, null);
      display: inline-flex;
      overflow: hidden;
      word-wrap: break-word;
      @include transition(color 0.3s ease-in-out, box-shadow 0.3s ease-in-out);
      color: var(--component-link-primary-color);
      background-color: transparent;
      box-shadow: inset 0 0 0 0 var(--component-link-primary-bg-hover);

      // &:after
      &:after {
        content: "";
        @include position(absolute, null, 0, 0, 0);
        @include size(100%, var(--component-link-decoration-thickness)); 
        z-index: 1;
        background-color: var(--component-link-primary-color);
      }

      // &:hover
      &:hover {
        color: var(--component-link-primary-color-hover);
        box-shadow: inset 100vw 0 0 0 var(--component-link-primary-bg-hover);
      }

      // &:focus-visible
      &:focus-visible {
        outline: 0.2rem solid var(--component-link-primary-shadow-focus);
      }

      // &:active
      &:active {
        color: var(--component-link-primary-color);
      }
    }
  }
  } // end @layer syx.atoms
}
