// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// atom: table
// ===============================================
@mixin atom-table($theme: null) {
  @layer syx.atoms {
  .atom-table {
    word-break: normal;

    // &__container
    &__container {
      @include position(relative);
      @include size(100%, null);
    }

    // &__th
    &__th {
      @include padding(var(--component-table-cell-padding-y) var(--component-table-cell-padding-x));
      vertical-align: bottom;
      font-size: var(--component-table-th-font-size);
      line-height: var(--component-table-th-line-height);
      font-family: var(--component-table-th-font-family);

      // &:first-of-type
      &:first-of-type {
        @include border(left, var(--component-table-cell-padding-y), null, null);
      }

      // &:last-of-type
      &:last-of-type {
        @include border(right, var(--component-table-cell-padding-y), null, null);
      }
    }

    // &__td
    &__td {
      @include padding(var(--component-table-cell-padding-y) var(--component-table-cell-padding-x));
      @include border(bottom, var(--component-table-border-width), solid, var(--component-table-border-color));
    }

    // &--primary
    &--primary {
      // [class*="__th"]
      [class*="__th"] {
        color: var(--component-table-color-th);
        background-color: var(--component-table-bg-th);
      }

      // [class*="__td"]
      [class*="__td"] {
        // &:hover, &:focus
        &:hover,
        &:focus {
          background-color: var(--component-table-state-hover-bg);
          border-color: var(--component-table-state-hover-border-color);
          box-shadow: var(--component-table-state-hover-shadow);
        }
      }

      // [class*="__tfoot"]
      [class*="__tfoot"] {
        background-color: var(--component-table-bg-tfoot);
      }
    }

    // &--resp
    &--resp {
      @include margin(null null var(--component-table-cell-padding-y) null);
      @include size(100%, null);
      clear: both;
      overflow-x: auto;
      overflow-y: hidden;
    }

    // &--is
    &--is {
      // &-stick
      &-stick {
        // &-thead
        &-thead {
          overflow-y: auto;
          max-height: var(--component-table-sticky-max-height);

          // [class*="__th"]
          [class*="__th"] {
            @include position(sticky, 0, null, null, null);
            z-index: 3;
          }

          // [class*="__td"]
          [class*="__td"] {
            // &:first-of-type
            &:first-of-type {
              @include position(sticky, null, null, null, 0);
              z-index: 2;
              color: var(--component-table-sticky-active-color);
              background-color: var(--component-table-sticky-active-bg);

              // &:hover, &:focus
              &:hover,
              &:focus {
                color: var(--component-table-state-hover-border-color);
                background-color: var(--component-table-state-hover-bg);
              }
            }
          }
        }
      }
    }
  }
  } // end @layer syx.atoms
}
