// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// atom: txt
// ===============================================
@mixin atom-txt($theme: null) {
  @layer syx.atoms {
  .atom-txt {
    // &--primary
    &--primary {
      @include margin(0 null var(--semantic-space-stack-sm) null);
    }
  }
  } // end @layer syx.atoms
}
