// FUNCTIONS: theme
// ===============================================
@function functionBrandSet($theme-set-string) {

  // @IF
  @if $theme-set-string == "" {
    @return unquote($theme-set-string);
  }

  // @ELSE
  @else {
    @return unquote(".syx--theme-" + $theme-set-string);
  }

}
// ===============================================
