// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// ORG: content-columns
// ===============================================
@mixin org-content-columns($theme: null) {
  @layer syx.organisms {
  .org-content-columns,
  .cont-wrapper-col-contents {  // @deprecated - use .org-content-columns
    // Container context: allows children to use @container queries.
    // Support: Chrome 105+, Firefox 110+, Safari 16+
    container-type: inline-size;
    container-name: org-content-columns;

    // &__col
    &__col {
      @include padding(var(--semantic-space-layout-xl) null var(--semantic-space-layout-xl) null);

      // &--is-inverse
      &--is-inverse {
        @include min-screen($token-breakpoint-md) {
          // .layout-grid__col-xs-12
          .layout-grid__col-xs-12 {
            // &:first-child
            &:first-child {
              order: 2;
            }

            // &:last-child
            &:last-child {
              order: 1;
            }
          }
        }

        // Container Query alternative: inverse order when container is wide enough
        // Complements the viewport-based min-screen mixin above.
        @container org-content-columns (min-width: 600px) {
          .layout-grid__col-xs-12:first-child { order: 2; }
          .layout-grid__col-xs-12:last-child  { order: 1; }
        }
      }
    }

    // &__picture
    &__picture {
      display: block;

      // img
      img {
        display: block;
      }
    }
  }
  } // end @layer syx.organisms
}
