// CORE
// ===============================================
@use "../abstracts/index" as *;
// ===============================================

// ORG: documentation-layout
// ===============================================
@mixin org-documentation-layout($theme: null) {
  @layer syx.organisms {
  .org-documentation-layout,
  .cont-wrapper-aside-structure {  // @deprecated - use .org-documentation-layout
    // &__aside
    &__aside {
      // &-title
      &-title {
        // &:not()
        &:not(.atom-list *, .atom-list-ordered *) {
          @include position(sticky, var(--semantic-space-layout-lg), null, null, null);
          @include margin(0 null var(--semantic-space-inline-xs) null);
          @include padding(var(--semantic-space-component-sm) null var(--semantic-space-component-sm) null);
          background-color: var(--org-documentation-layout-aside-title-bg, var(--color-secondary-lt-1));
          font-weight: var(--org-documentation-layout-aside-title-weight, var(--semantic-font-weight-bold));
        }
      }
    }

    // &__article
    &__article {
      @include padding(null null var(--semantic-space-layout-xl) null);
    }

    // &__main-title
    &__main-title {
      @include margin(null null var(--semantic-space-layout-xl) null);
    }

    // &__section
    &__section {
      @include margin(null null var(--semantic-space-layout-xl) null);
    }
  }
  } // end @layer syx.organisms
}
