// ABSTRACTS
// ================================================
@use 'sass:map';
@use 'sass:string';
@use 'sass:list';
@use '../variables/variables' as *;
@use '../maps/maps' as *;
@use '../functions/functions' as *;
// ================================================

// FONT FACE
// ===============================================
// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6

// String Replace
@function str-replace($string, $search, $replace: "") {
	$index: string.index($string, $search);

	@if $index {
		@return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
	}

	@return $string;
}

// Font family
@mixin font-family($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: $ext;
		@if map.has-key($extmods, $ext) { $extmod: $ext + map.get($extmods, $ext); }

		$format: $ext;
		@if map.has-key($formats, $ext) { $format: map.get($formats, $ext); }

		$src: list.append($src, url(string.quote($path + "." + $extmod)) format(string.quote($format)), comma);
	}

	@font-face {
		font-family: string.quote($name);
		src: $src;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}

	@content;

}
