// ABSTRACTS
// ================================================
@use 'sass:list';
@use '../variables/variables' as *;
@use '../maps/maps' as *;
@use '../functions/functions' as *;
// ================================================

// MIXIN: triangle
// ===============================================
@mixin triangle($triangle--size, $triangle--color, $triangle--direction) {
  height: 0;
  width: 0;

  $triangle--width: list.nth($triangle--size, 1);
  $triangle--height: list.nth($triangle--size, list.length($triangle--size));

  $triangle--width: list.nth($triangle--size, 1);
  $triangle--height: $triangle--height;
  @if list.length($triangle--size) <= 1 { $triangle--height: $triangle--height / 2; }

  @if $triangle--direction == up {
      border-bottom: $triangle--height solid $triangle--color;
      border-left: $triangle--width solid transparent;
      border-right: $triangle--width solid transparent;

  } @else if $triangle--direction == right {
      border-left: $triangle--height solid $triangle--color;
      border-bottom: $triangle--width solid transparent;
      border-top: $triangle--width solid transparent;

  } @else if $triangle--direction == down {
      border-top: $triangle--height solid $triangle--color;
      border-left: $triangle--width solid transparent;
      border-right: $triangle--width solid transparent;

  } @else if $triangle--direction == left {
      border-right: $triangle--height solid $triangle--color;
      border-bottom: $triangle--width solid transparent;
      border-top: $triangle--width solid transparent;
  }
}
